@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:black;
}
header{
    border-bottom: 2px solid grey;
    font-weight: 400;
}
.title{
    font-weight: 300;
    font-size: 32px;
}
.admin-menu li{
    border-bottom: 0.1px rgb(255, 255, 255) solid;
}
.toggle-checkbox {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 25px;
  }

  .toggle-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggle-checkbox .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .toggle-checkbox .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #F6C000;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(15px);
  }

  .toggle-checkbox .slider.round {
    border-radius: 34px;
  }

  .toggle-checkbox .slider.round:before {
    border-radius: 50%;
  }
  .menu {
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    padding: 20px;
  }


.menu-icon,
.close-menu-icon {
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.close-menu-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.auth-form,.create-form,.edit-form{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 400px;
  }

  .auth-form>label, .create-form>label,.edit-form>label {
    font-weight: bold;
  }

  .auth-form>input[type="text"],
  textarea, .create-form>input[type="text"],
  textarea,.edit-form>input[type="text"],
  textarea  {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  .auth-form>input[type="email"],
  textarea, .create-form>input[type="email"],
  textarea,.edit-form>input[type="email"],
  textarea  {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  .auth-form>input[type="password"],
  textarea,.create-form>input[type="password"],
  textarea,.edit-form>input[type="password"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }

  .auth-form>input[type="file"],.create-form>input[type="file"],.edit-form>input[type="file"] {
    margin-bottom: 20px;
  }

  .auth-form>select, .create-form>select,.edit-form>select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
    appearance: none;
    background-position: right 1rem top 50%;
    background-size: 8px auto;
  }

  .auth-form>button[type="submit"], .create-form>button[type="submit"], .edit-form>button[type="submit"] {
    background-color: #F6C000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .auth-form>button[type="submit"]:hover, .create-form>button[type="submit"]:hover, .edit-form>button[type="submit"]:hover {
    transition: 0.3s ease-out;
    background-color: green;
  }
